body {background-color:beige;
        font-family:'Times New Roman', Times, serif;
        font-size: 12px;
 }

 p {border:1px solid gray;
    margin:2px;
    padding:2px;
}

a:link {
    color:green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: red;
    background-color: transparent;
    text-decoration:overline ;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}